*{
    margin: 0;
    padding: 0;
    box-sizing: border=box;
}

body{
    overflow: hidden;
}

#canvas1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  width: 90%;
  gap: 20px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#fileUpload, #visualizationType, #startScreenCapture, #stopScreenCapture, #musicPlayer {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  background-color: #333;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

audio {
  width: 300px;
}

select, input {
  cursor: pointer;
}

input[type="file"] {
  width: 150px;
}

