*{
    margin: 0;
    padding: 0;
    box-sizing: border=box;
}

body{
    overflow: hidden;
}

#canvas1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
}

#musicPlayer {
   
    top: 800px;
    bottom: 3px;
    position: relative;
    width: 25%;
    margin: 50px auto;
    display: block;
    border: none;
    
}

#fileupload{
    position: absolute;
    top: 790px;
    right: 200px;
    color: grey;
    z-index: 100;
}
